<% if current_user.premium? %>
  <h4>Downgrade to Standard. <br>
  <small>You will be required to pay $15 to get your premium status back though.....</small></h4>
  <%= link_to "Downgrade Your Account", downgrade_create_path, method: :create, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to downgrade?'} %>
<% else %>
  <h4>You are already a Standard Member! Congratulations!!!</h4>
<% end %>
