<%= form_tag charges_path do %>
  <% if current_user.standard? %>
    <h4>Create your own wikis, for a one time $15 upgrade to a Premium account!</h4>
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
  <% else %>
    <h4>You already are a Premium Member!</h4>
  <% end %>
<% end %>
